* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

th, td {
    border: 1px solid black;
    margin: 0px;
    padding: 4px;
}

th {
    background-color: aquamarine;
}

tr:hover {
    background-color: lightgray;
}

table-panel {
    overflow: auto;
    scroll-behavior: auto;
}